body {
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}