<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    {%block head %} {% endblock %}
</head>

<body>
    <span id="version" class="pico-color-red-450">{{app_version}}</span>
    <header>
        <nav>
            <a href="/" class="pico-color-red-450">Home</a>
            <a href="/today_orders" class="pico-color-red-450">Today's orders</a>
            <a href="/car_distribution" class="pico-color-red-450">Car Distribution</a>
            <a href="#" id="menu-trigger" class="pico-color-red-450">Menu</a>
        </nav>
    </header>
    <dialog id="menu-dialog">
        <article>
            <header>
                <span></span>
                <p>
                    <strong>Menu</strong>
                </p>
                <button aria-label="Close" rel="prev" id="menu-close"></button>
            </header>
            <img src="/static/images/big-daddy-menu-1.jpg" alt="Big Daddy menu image 1" class="img-open-onclick">
            <img src="/static/images/big-daddy-menu-2.jpg" alt="Big Daddy menu image 2" class="img-open-onclick">
        </article>
    </dialog>
    <script>
        const menuDialogEl = document.querySelector("#menu-dialog");
        const menuTriggerEl = document.querySelector("#menu-trigger");
        const menuCloseEl = document.querySelector("#menu-close");

        function closeMenu() {
            document.body.classList.add("modal-is-closing");
            setTimeout(() => {
                document.body.classList.remove("modal-is-closing");
                document.body.classList.remove("modal-is-open");
                menuDialogEl.close();
            }, 200);
        }

        function openMenu() {
            document.body.classList.add("modal-is-open");
            document.body.classList.add("modal-is-opening");
            setTimeout(() => {
                document.body.classList.remove("modal-is-opening");
            }, 200);
            menuDialogEl.showModal();
        }

        menuTriggerEl.addEventListener("click", function () {
            if (menuDialogEl.open) {
                closeMenu();
            } else {
                openMenu();
            }
        });

        menuCloseEl.addEventListener("click", function () {
            if (!menuDialogEl.open ||
                document.body.classList.contains("modal-is-opening") ||
                document.body.classList.contains("modal-is-closing")) return;

            closeMenu();
        });

        document.addEventListener("click", function (event) {
            if (!menuDialogEl.open ||
                document.body.classList.contains("modal-is-opening") ||
                document.body.classList.contains("modal-is-closing")) return;

            if (!menuDialogEl.querySelector("article").contains(event.target)) {
                closeMenu();
            }
        });

        document.addEventListener("keydown", function (event) {
            if (!menuDialogEl.open ||
                document.body.classList.contains("modal-is-opening") ||
                document.body.classList.contains("modal-is-closing")) return;

            if (event.key === "Escape") {
                closeMenu();
            }
        });

        document.querySelectorAll(".img-open-onclick").forEach(function (el) {
            el.addEventListener("click", function (el) {
                window.open(el.target.src);
            });
        });
    </script>
    <main class="container">
        {%block body %} {% endblock %}
    </main>
    <footer>
        <div>
            <a class="pico-color-yellow-300" target="_blank" href="https://github.com/feyruzb/burger-alert">Burger Alert repo</a>
        </div>
    </footer>
</body>

</html>