<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    {%block head %} {% endblock %}
</head>

<body>
    <span id="version" class="pico-color-red-450">{{app_version}}</span>
    <header>
        <nav>
            <a href="/" class="pico-color-red-450">Home</a>
            <a href="/today_orders" class="pico-color-red-450">Today's orders</a>
            <a href="/car_distribution" class="pico-color-red-450">Car Distribution</a>
        </nav>
    </header>
    <main class="container">
        {%block body %} {% endblock %}
    </main>
    <footer>
        <div>
            <a class="pico-color-yellow-300" target="_blank" href="https://github.com/feyruzb/burger-alert">Burger Alert repo</a>
        </div>
    </footer>
</body>

</html>