{% extends 'base.html'%}

{%block head %}
<title>Distributing people in cars page</title>
{% endblock %}

{%block body %}

<div class="content" style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 50px;">
    <div style="width: 90%; display: flex; flex-direction: column; align-items: center; gap: 40px;">
        <h2>Car Distribution</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 30px;">
            <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
                {% for car, passengers in list_of_distributes %}
                <div class="card"
                    style="padding: 1rem; border: 1px solid #ccc; border-radius: 0.5rem; min-width: 200px;">
                    <h3>Car: <span class="pico-color-red-450">{{ car }}</span></h3>
                    <ul>
                        {% for person in passengers %}
                        <li><span class="pico-color-red-450">{{ person }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                <p>
                    There are cuurently no drivers.
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="width: 90%; display: flex; flex-direction: column; align-items: center; gap: 40px;">
        <!-- people that didn't get a car -->
        <div>
            <h2>
                People that didn't get a car (sent order too late)
            </h2>
        </div>
        <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
            {% for passenger in list_of_extra %}
            <div class="card" style="padding: 1rem; border: 1px solid #ccc; border-radius: 0.5rem; min-width: 200px;">
                <ul>
                    <li><span class="pico-color-red-450">{{ passenger }}</span></li>
                </ul>
            </div>
            {% else %}
            <p>
                There are no poeople that did not get a car.
            </p>
            {% endfor %}
        </div>
        <!-- People that go themselves -->
        <div>
            <h2>
                People that are going themselves.
            </h2>
        </div>
        <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
            {% for passenger in names_self_passengers %}
            <div class="card" style="padding: 1rem; border: 1px solid #ccc; border-radius: 0.5rem; min-width: 200px;">
                <ul>
                    <li><span class="pico-color-red-450">{{ passenger }}</span></li>
                </ul>
            </div>
            {% else %}
            <p>
                There are no poeople that are going themselves.
            </p>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}