{% extends 'base.html'%}

{%block head %}
<title>Orders page</title>
{% endblock %}

{%block body %}

<div class ="content">
    <h2>DineIn Orders</h2>
    <ol style="word-break: break-all;">
        {% for user_obj in dinein_orders %}
                <span class="pico-color-red-450">{{ user_obj.name }}</span>

                ordered: <span class="pico-color-red-450">{{ user_obj.order }}</span>
        {% endfor %}
    </ol>
    <h2>Takeout Orders</h2>
    <ol style="word-break: break-all;">
        {% for user_obj in takeout_orders %}
           <li {% if user_obj.takeout %}style="font-style: italic;"{% endif %}>
                <span class="pico-color-red-450">{{ user_obj.name }}</span>

                ordered: <span class="pico-color-red-450">{{ user_obj.order }}</span>
                {% if user_obj.takeout %}
                Takeout: <span class="pico-color-red-450">YES
                </span>
                {% endif %}

            </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}
